:root {
  --text-font-size: 16px;
  --text-font: Orkney-Regular;
  --text-fg-color: #E1E1E1;
  --text-color-white: #FFFFFF;
  --text-color-yellow: #FFEA0E;
  --text-color-red: #FC420E;
  --text-color-gray: #8ca5b9;

  --text-color-repeat: #9fb8c4;
  --text-color-timeline: #f7af46;
  --text-color-goal: #92b9ff;
  --text-color-pedia: #c8d8da;

  --text-color-evolution-title: #73f3ff;
  --text-color-evolution-note: #5ebee5;
  --text-color-evolution-level-note: #4cd47b;
  --text-color-evolution-params: #13ff65;

  --text-color-organ-title: #e0e13a;
  --text-color-organ-title-inactive: #e0e13a;
  --text-color-organ-note: #5ebee5;
  --text-color-inventory-item: #8eee43;

  --text-color-skill-title: #d969e8;
  --text-color-group-title: #ff7f73;
  --text-color-group-note: #e35c3f;
}

@font-face {
  font-family: 'Orkney-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  letter-spacing: 0.08em;
  src: url(./Orkney-Regular.ttf) format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: var(--text-font);
  font-size: var(--text-font-size);
}

h3 {
  margin: 0px;
}

ul {
  margin: 0.1em;
}

hr {
  width: 90%;
  border-width: 2px 0px 0px 0px;
  border-color: #aacde0;
}

.narrative {
  font-style: italic;
}

#webgl {
  width: 100%;
  height: 100%;
  filter: saturate(0.9);
  cursor: url(./img/mouse-pointer.png) 0 1, pointer;
}

#tint {
  width: 100%;
  height: 100%;
  background: rgba(0,255,255, 0.5);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay {
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  margin: 0;
  padding: 0;
  pointer-events: all;
  cursor: crosshair;
}

#hud {
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.console-div {
  width: calc(100% - 20px);
  height: 1.2em;
  top: 10px;
  left: 10px;
  position: fixed;
}

.console-div:before {
  content: '> ';
  background: #202020aa;
  color: #A09e99;
  vertical-align: top;
}

#hud-console {
  opacity: 0.9;
  background-color: #ffffff00;
  width: calc(100% - 20px);
  height: 1.2em;
  color: var(--text-fg-color);
  background: #202020aa;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  appearance: none;
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  letter-spacing: 0.08em;
  resize: none;
}

.text {
  color: var(--text-fg-color);
  background: #202020aa;
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  letter-spacing: 0.08em;
  resize: none;
  user-select: none;
}

#hud-log {
  opacity: 0.9;
  background-color: #ffffff00;
  border: 13px solid;
  width: calc(100% - 50px);
  min-height: 1.2em;
  top: calc(10px + 1.2em);
  left: 10px;
  position: fixed;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  user-select: none;
  transition: 0.1s;
}

#hud-goals {
  opacity: 0.9;
  background-color: #ffffff00;
  border: 20px solid;
  max-width: 27%;
  min-height: 1.2em;
  bottom: 4em;
  right: 10px;
  position: fixed;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  user-select: none;
  transition: 0.1s;
}

#hud-info {
  opacity: 0.9;
  background-color: #ffffff00;
  border: 18px solid;
  min-width: 200px;
  min-height: 1.2em;
  bottom: 4em;
  left: 10px;
  position: fixed;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  user-select: none;
  transition: 0.1s;
}

#hud-debug-info {
  opacity: 0.9;
  background-color: #273242d6;
  color: #9ad1ff;
  border: 1px solid #a4a4a4;
  min-width: 200px;
  max-width: 30ch;
  min-height: 1.2em;
  left: 10px;
  top: 200px;
  position: fixed;
  padding: 5px;
  outline: none;
  appearance: none;
  user-select: none;
  transition: 0.1s;

  font-size: 80%;
  line-height: 1.1;
  letter-spacing: 0.5px;
  margin: 0px;
}

.hud-button {
  opacity: 0.9;
  background-color: #ffffff00;
  border: 11px solid;
  color: #a4d6ff;
  max-width: 10ch;
  min-height: 1.2em;
  margin: 0px 5px 0px 5px;
  padding: 0;
  outline: none;
  appearance: none;
  pointer-events: auto;
  user-select: none;
  cursor: url(./img/mouse-pointer.png) 0 1, pointer;
}

.hud-button:hover {
  background-color: #bde1ed;
  color: #bde4ff;
  opacity: 1;
  font-weight:bold;
}

.hud-button:active {
  color: #879ea3;
}

#hud-buttons {
  left: 0px;
  width: 100%;
  bottom: 10px;
  position: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#hud-actions {
  opacity: 0.9;
  background-color: #ffffff00;
  border: 20px solid;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 31ch;
  bottom: 4em;
  position: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.1s;
  cursor: url(./img/mouse-pointer.png) 0 1, pointer;
}

.hud-action {
  letter-spacing: 0.08em;
  color: white;
  height: 1.2em;
  padding: 0;
  outline: none;
  appearance: none;
  pointer-events: auto;
  user-select: none;
}

.hud-action:hover {
  background-color: #5f818c;
  color: white;
  opacity: 1;
  font-weight:bold;
}

.hud-action:active {
  color: #879ea3;
}

.window-bg {
  z-index: 105;
  position: fixed;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  position: fixed;
  pointer-events: none;
  background-color: #00000059;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  backdrop-filter: saturate(50%) blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(./img/mouse-pointer.png) 0 1, pointer;
}

.window {
  opacity: 0.9;
  z-index: 110;
  position: fixed;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  position: fixed;
  pointer-events: none;
  background-color: #ffffff00;
  cursor: url(./img/mouse-pointer.png) 0 1, pointer;
}

.window-dialog {
  border: 30px solid;
  min-width: 20%;
  max-width: 40%;
  min-height: 1.2em;
}

.window-dialog-text {
  transform: translate(0, -10px);
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

#window-yesno {
  width: 40%;
  height: 4em;
}

#window-difficulty {
  width: 40%;
  height: 4em;
}

#window-message {
}

.window-dialog-button {
  border: 11px solid;
  position: absolute;
  bottom: -49px;
  color: white;
  left: 50%;
  opacity: 1;
  text-align: center;
  width: 7ch;
  -webkit-transform: translate3d(-50%, 0, 0);
}

#window-yesno-yes {
  left: 34%;
}

#window-yesno-no {
  left: 63%;
}

#window-difficulty-easy {
  left: 23%;
}

#window-difficulty-normal {
  left: 49%;
}

#window-difficulty-hard {
  left: 75%;
}

#window-goals {
  border: 39px solid;
  width: calc(100% - 80px);
  height: calc(100% - 90px);
  pointer-events: all;
}

#window-goals-text {
  transform: translate(0, -10px);
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

.window-common-close {
  border: 11px solid;
  position: absolute;
  bottom: -13px;
  left: 50%;
  opacity: 1;
  text-align: center;
  width: 5ch;
  transform: translate(-50%, 0);
}

div::-webkit-scrollbar {
  width: 1em;
}
 
div::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}
 
div::-webkit-scrollbar-thumb {
  background-color: #96aebc;
  border-radius: 10px;
  border: 1px solid #aaa;
}

fieldset {
  border-color: #abc4ea;
}

.scroller {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

#window-goals-current {
  height: 30%;
  margin-bottom: 10px;
}

#window-goals-completed {
  height: 45%;
  margin-bottom: 10px;
}

#window-goals-failed {
  height: 20%;
}

#window-log {
  border: 39px solid;
  width: calc(100% - 90px);
  height: calc(100% - 90px);
  pointer-events: all;
}

#window-log-text {
  transform: translate(-10px, -10px);
  width: 102%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

#window-log-fieldset {
  height: 100%;
}

#window-timeline {
  border: 39px solid;
  width: calc(100% - 80px);
  height: calc(100% - 90px);
  pointer-events: all;
}

#window-timeline-fieldset {
  height: 100%;
}

#window-timeline-text {
  transform: translate(-10px, -10px);
  width: 101.5%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

.window-timeline-event-title {
  color: white;
  text-decoration: underline;
}

.window-timeline-event-note {
  color: var(--text-color-timeline);
  font-style: italic;
}

.window-timeline-event-npc-title {
  color: #ffcdbf;
}

.window-timeline-event-npc {
  color: #ff8f6f;
}

#window-inventory {
  border: 39px solid;
  width: 90%;
  height: 90%;
  pointer-events: all;
}

#window-inventory-text {
  transform: translate(0, -10px);
  height: 94%;
}

#window-skills {
  border: 39px solid;
  width: 90%;
  height: 90%;
  pointer-events: all;
}

#window-skills-text {
  transform: translate(0, -10px);
  height: 94%;
}

#window-organs {
  border: 39px solid;
  width: 90%;
  height: 90%;
  pointer-events: all;
}

#window-organs-text {
  transform: translate(0, -10px);
  height: 94%;
}

#window-document {
  border: 39px solid;
  width: 90%;
  height: 90%;
  pointer-events: all;
}

#window-document-text {
  transform: translate(0, -10px);
  height: 94%;
}

#window-options {
  border: 30px solid;
  width: 40ch;
  height: 30em;
  pointer-events: all;
}

#window-options-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

#window-options-subtitle {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

#window-options-contents {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#window-spoon {
  border: 30px solid;
  width: 40ch;
  height: 13em;
  pointer-events: all;
}

#window-spoon-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

#window-spoon-contents {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#window-mainmenu {
  border: 30px solid;
  width: 25ch;
  height: 22em;
  pointer-events: all;
}

#window-mainmenu-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

#window-mainmenu-contents {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.window-mainmenu-cont {
  justify-content: center;
  display: flex;
}

.window-mainmenu-item {
  background: #3a4f71;
  color: white;
  width: 80%;
  border-radius: 2px;
  border: solid 2px #abc4ea;
  text-align: center;
  padding: 8px;
  margin-bottom: 10px;
}

.window-mainmenu-item:hover {
  background-color: #5f818c;
  font-weight:bold;
}

.window-mainmenu-item:active {
  color: #879ea3;
}

.window-mainmenu-item-disabled {
  background: #3a4f71;
  color: #5e738787;
  width: 80%;
  border-radius: 2px;
  border: solid 2px #abc4ea;
  text-align: center;
  padding: 8px;
  margin-bottom: 10px;
}

.slider-contents {
  display: flex;
  padding-bottom: 4px;
}

.slider-wrapper {
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  background: #ccdef4;
}

.slider::-webkit-slider-thumb {
  border-radius: 50%;
  background: #68b2e5;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
}

.slider-title {
  width: 36%;
}

.slider-value {
  width: 16%;
  text-align: center;
}

.checkbox-contents {
  display: flex;
  padding-bottom: 4px;
}

.checkbox-title {
  cursor: url(./img/mouse-pointer.png) 0 1, pointer;
  width: 100%;
}

.checkbox-element {
  cursor: url(./img/mouse-pointer.png) 0 1, pointer;
  width: 16%;
  text-align: center;
  display: none;
}

.checkbox-span {
  height: 1em;
  width: 1em;
  top: 3px;
  right: -9%;
  border: 2px solid #7d92a2;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -4px;
  left: 2px;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.blinking-red {
  animation: blinking-red-text 2s infinite;
}

@keyframes blinking-red-text {
  0% { color: #f59393; }
  50% { color: #f54040; }
  100% { color: #f59393; }
}

#window-evolution {
  border: 39px solid;
  width: calc(100% - 90px);
  height: calc(100% - 90px);
  pointer-events: all;
}

#window-evolution-text {
  transform: translate(0, -10px);
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

#window-evolution-contents {
  transform: translate(-10px, -10px);
  width: 102%;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

#window-evolution-list {
  display: flex;
  height: 34%;
}

.window-evolution-list-row {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
}

.window-evolution-list-item {
  width: 47.5%;
  margin: 0px 5px 0px 5px;
  padding: 5px;
  border: solid 2px;
  border-radius: 6px;
  border-color: #4f688e;
}

.window-evolution-list-notes {
  font-size: 80%;
  line-height: 1.1;
  letter-spacing: 0.5px;
  margin: 5px 5px 0px 5px;
}

.small {
  font-size: 80%;
  line-height: 1.1;
  letter-spacing: 0.5px;
  margin: 0px;
}

#window-evolution-info {
  height: 17%;
  margin-top: 10px;
}

#window-evolution-actions {
  margin-top: 10px;
  flex-grow: 1;
  height: 50px;
}

.actions-item {
}

.actions-item:hover {
  background-color: #5f818c;
  color: white;
  opacity: 1;
  font-weight:bold;
}

.actions-item:active {
  color: #879ea3;
}

#window-body {
  border: 39px solid;
  width: calc(100% - 90px);
  height: calc(100% - 90px);
  pointer-events: all;
  display: flex;
  flex-direction: row;
}

#window-body-col1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10px;
  height: calc(100% - 40px);
}

#window-body-col2 {
  display: flex;
  flex-direction: column;
  width: 49%;
  height: calc(100% - 40px);
}

#window-inventory-contents {
  height: 45%;
  margin-bottom: 10px;
  border-color: #475c7ab5;
  border-width: 3px;
}

#window-inventory-list {
  margin-bottom: 10px;
  height: 35%;
}

#window-inventory-actions {
  height: 30%;
  display: flex;
  flex-grow: 1;
}

#window-skills-contents {
  flex-grow: 1;
  border-color: #475c7ab5;
  border-width: 3px;
  height: 100%;
}

#window-skills-parasite {
  margin-bottom: 10px;
  height: 43%;
}

#window-skills-host {
  flex-grow: 1;
  height: 50px;
}

.host-attr-title {
  color: #c9e289;
}

.host-attr-notes {
  color: #a1c66f;
  font-size: 80%;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

#window-organs-contents {
  border-color: #475c7ab5;
  border-width: 3px;
  flex-grow: 1;
  height: 97%;
}

#window-organs-list {
  margin-bottom: 10px;
  height: 26%;
}

.window-organs-list-item {
  margin: 0px 5px 5px 5px;
  padding: 5px;
  border: solid 2px;
  border-radius: 6px;
  border-color: #4f688e;
}

#window-organs-available {
  margin-bottom: 10px;
  height: 26%;
}

#window-organs-info {
  margin-bottom: 10px;
  height: 15%;
}

#window-organs-actions {
  flex-grow: 1;
  height: 50px;
}

#window-pedia {
  border: 39px solid;
  width: calc(100% - 90px);
  height: calc(100% - 90px);
  pointer-events: all;
  display: flex;
  flex-direction: row;
}

#window-pedia-list {
  margin-bottom: 10px;
  height: 90%;
  width: 22ch;
}

#window-pedia-contents {
  width: 70%;
  height: 90%;
  display: flex;
  flex-grow: 1;
}

.window-pedia-group-item {
  font-weight: bold;
  color: var(--text-color-gray);
}

.window-pedia-topic-item {
}

.window-contents-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.window-disabled {
  background: #3b4451;
  color: #626262;
  border-color: #323e503b !important;
  filter: blur(4px);
}

.select-contents {
}

.select-title {
}

.select-element {
  margin-left: 8px;
  width: 49%;
  padding: 1px 3px 0px 3px;
  background: #ccdef4c2;
  border-radius: 6px;
  color: #303c48;
  font-family: var(--text-font);
  font-weight: bold;
}

.highlight-text {
  animation: 2.5s infinite text-highlight;
}
@keyframes text-highlight {
  from {
    font-size: var(--text-font-size);
    opacity:0.8;
  }
  50% {
    font-size: 101%;
    opacity:1.0;
  }
  to {
    font-size: var(--text-font-size);
    opacity:0.8;
  }
}

.highlight-button {
  animation: 1.2s 2 button-highlight;
}
@keyframes button-highlight {
  from {
    opacity: 0.1;
  }
  50% {
    opacity: 1.0;
  }
  to {
    opacity: 0.1;
  }
}
