#main {
  background-color: #111111;
  border: 1px solid #CCCCCC;
  padding: 10px;
}

#text {
  width: 90%;
  height: 100%;
  horizontal-align: center;
  font-size: 24px;
  color: #888888;
  border: none;
  background-color: #111111;
}

.button {
  font-size: 20px;
  width: 150px;
}
